
.home__container{
    width: 100vw;
    height: 100vh;
    background-image: url("/img/sm-home.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: 
        " . . . . ."
        ". title title title ."  
        ". . subtitle . ."
        ". . . . .";
    gap: 2em;
    align-items: end;
    .home__title{
        grid-area: title;
        font-family: var(--primary-typografy);
        font-size: 3em;
        font-weight: 700;
        
    }
    .home__subtitle{
        grid-area: subtitle;
        font-family: var(--secondary-typografy);
        font-size: 1.2em;
        
    }
    .home__txt{
        color: brown;
        
    }
}

@media (width > 380px){
    .home__container{
    background-image: url("/img/home2-desktop.png");
    grid-template-columns: repeat(12, 1fr);
    
    .home__title{
        grid-column: 3/11;
        grid-row: 2/2;
        font-size: 4.8em;
    }
    .home__subtitle{
        grid-column: 7/11;
        grid-row: 3/3;
        font-size: 2em;
    }
    
    }
}
