
.home__container{
    width: 100vw;
    height: 100vh;
    background-image: url("../../../../../public/img/sm-home.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat(5,0.5fr);
    grid-template-columns: repeat(5,auto);
    gap: 20px;
    align-items: end;
    .home__title{
        grid-column: 2/4;
        grid-row: 2/2;
        font-family: var(--primary-typografy);
        font-size: 3em;
        text-align: center;
    }
    .home__subtitle{
        grid-column: 2/4;
        grid-row: 3/3;
        font-family: var(--secondary-typografy);
        font-size: 1.2em;
        align-self: start;
        justify-self: center;
    }
    .home__txt{
        color: brown;
        
    }
}

@media (width > 380px){
    .home__container{
    background-image: url("../../../../../public/img/home2-desktop.png");
    grid-template-columns: repeat(12, 1fr);
    
    .home__title{
        grid-column: 3/11;
        grid-row: 2/2;
        font-size: 4.8em;
    }
    .home__subtitle{
        grid-column: 7/11;
        grid-row: 3/3;
        font-size: 2em;
    }
    
    }
}
