.card__container{

    display: flex;
    width: 21rem;
    height: 36.25rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    
}

.card__footer{
    display: flex;
    height: 15rem;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    align-items: center;

    .card__footer_title{
        font-family: var(--primary-typografy);
        font-size: 2.2em;
        text-decoration: underline;
    }
    .card__footer_subtitle{
        font-family: var(--secondary-typografy);
        text-align: center;
    }
    .card__footer_txt{
        font-family: var(--terciary-typografy);
    }

}

.card__img{
    border-radius: 0.625rem;
    .card__img_img{
        width: 100%;
        
        object-fit: cover;
        border-radius: inherit;
    }
    
}

.card__bt{
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 14rem;   
    height: 2rem;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

.card__servicios{
    background-color:#D9DBD6;
    & h3{ color: #636C71}
    .card__bt{
        border:2px solid #636C71;
        color:#636C71;
        background-color: white;
        &:hover{
            background-color: #636C71;
            color: white;
            transition: background-color 1s;
        }

    }
}

.card__proyectos{
    background-color:#E6CDA8;
    & h3{ color: #868346};
    .card__bt{
        color:#866346;
        border:2px solid #866346;
        background-color: white;
        &:hover{
            background-color: #866346;
            color: white;
            transition: background-color 1s;
        }
    }
    
}

.card__tramites{
    background-color:#D77365;
    & h3{ color: #551113};
    .card__bt{
        color:#551113;
        border:2px solid #551113;
        background-color: white;
        &:hover{
            background-color: #551113;
            color: white;
            transition: background-color 1s;
        }
    }
}
