@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

/* para version de prueba */
/*
tipografia font-family: 'Great Vibes', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Khula:wght@400;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*
ICONOS
*/
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{
--primary-typografy: 'Sacramento', cursive;
--secondary-typografy: 'Montserrat', sans-serif;
--terciary-typografy:'Alegreya Sans', sans-serif;

--primary-color:#cf5551;
--secondary-color: #dbdbd9;
--ter-color:#cfb851;

}

p{
    text-align: justify;
}





